.crystal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    border: 1px solid purple;
    height: 100px;
    width: 100px;
    border-radius: 3px;
}

